.table-row {
  display: flex;
  background-color: var(--background-color-white);
  border-radius: var(--border-radius);
  margin-block: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.table-row.odd-row {
  background-color: var(--background-color-lightGray);
}

.td {
  flex: 1 0 16.6666%;
  text-align: center;
  padding: var(--table-td-padding);
  font-size: 1.4rem;
}
