.app-form {
  position: relative;
  padding: 2rem;
  background-color: var(--background-color-white, #fff);
  border-radius: 4px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  max-width: 51.2rem;
}

.form-title {
  margin: 0;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
}

.form-input-container {
  margin-block: 1.5rem;
}

.form-label {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 700;
}

.ng-submitted .form-input.ng-invalid,
.form-input.ng-touched.ng-invalid {
  border-color: red;
}

.input-error {
  color: red;
  font-size: 1.2rem;
}

.courses-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.course-label {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.form-checkbox {
  margin-right: 1rem;
}

.submit-container {
  margin-block: 2.5rem;
  text-align: center;
}

.back-btn-container {
  text-align: center;
}
